@media only screen and (max-width: 950px) {

    
    header {
        height: 80px;
        width: 100%;
        justify-content: space-around;

    }
    
    
     #Brand{
        font-family: "Rancho", sans-serif;
        font-size: 2.8em;
        font-weight: 300;
        text-align: center;
        position: relative;
        left: -300px;
        
    }

    .logo img {
        display: none;
    }
    
    #ordernow {
        display: none;
    }
       
    .nav-links {
        display: none; /* Hide the regular navigation links on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        width: 100%;
        background-color: rgb(54, 29, 9);
        text-align: center;
    }

    .burger-menu {
        display: block;
        position: relative;
        right: 415px;
        cursor: pointer;
        font-size: 1.5em;
        z-index: 1000;
    }

    .mobile-nav {
        display: none;
        position: fixed;
        top: 0;
        right: -0%;
        width: 80%;
        height: 100%;
        max-width: 300px;
        background-color: rgb(54, 29, 9);
        padding: 10px;
        z-index: 999;
        transition: right 1s ease;
    }

    .mobile-nav .nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
        margin: 50px 60px;
        gap: 30px;
    
    }

    .mobile-nav .nav-links li {
        margin: 10px 0;
    }

    .burger-menu.active + .mobile-nav {
        display: block;
        min-width: 685px;
    }
    .Main {
        background-position: left;
        background-image: linear-gradient(rgb(0 0 0 / 60%),rgb(0 0 0 / 60%)), url(BG.jpg);
        width: 100%;
        width: 100vh;
        height: 60vh;
        padding: 80px 20px;
    }

    .text-container {
        text-align: center;
        position: relative;
        left: -200px;
        top: 50px;
            
    }

    .Main h1 {
        font-size: 3em;
        left: -30px;

    }
    .Main p {
        font-size: 0.9em;
        top: 130px;
        left: -30px;
    }

    .menubtn {
        font-size: 1.2em;
        width: 300px;
        padding: 10px 0px;
        top: 210px;
        left: -30px;
    
    }


    





    .Features {
        padding: 80px 70px;
        gap: 25px;
        width: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .Feature {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    
    .Feature p {
        font-size: 1em;
        
    }

    .about{
        padding-right: 40px;
        width: 100vh;
        padding-left: 50px;
        padding-right: 0px;
    }
    .about-content .about h2{
        font-size: 1em;
    }
    .about h2{
        position: relative;
        top: -60px;
    }

    .about h1{
        position: relative;
        top: -55px;
        width: 275px;
        font-size: 3em;
    }

    .about p{
        font-size: 1em;
        position: relative;
    bottom: 50px;
    }

    .icon-prom{
        position: relative;
        bottom: 65px;
    }

    .about-picture{
        top: 656px;

    }

    .about2-picture{
        top: 400px;
        right: 210px;

    }

    .about2 {
        width: 100vh;
        height: 215vh;

    }

    .about-content2 {
        position: relative;
        top: 743px;
        right: 600px;
    }
    
    .about2-container {
        display: flex;
        justify-content: flex-end;
        gap: 380px;
        width: 100%;
        height: 620px;
        margin-left: 110px;
    }



    .about2-picture{
        position: relative;
        top: 390px;
    }

    #picture1 {
        width: 280px;
        height: 410px;
        position: relative;
        right: 410px;
        bottom: 126px;

    }

    #picture2 {
        width: 260px;
        height: 170px;
        position: absolute;
        right: 650px;
        top: 185px;
    }

    #picture3 {
        height: 280px;
        border-radius: 10px;
        position: absolute;
    }

    #picture4 {
        width: 185px;
        height: 185px;
        border-radius: 10px;
        position: absolute;
        left: 110px;
        z-index: 993;
        top: 130px;
    }
    
    .about2 h1 {
        font-size: 3em;
        width: 300px;
    }

    .about2 p {
        font-size: 1em;
    }

    .prom4 {
        margin-top: 60px;
        margin-left: 0px;
    }
    
    .prom6 {
        margin-top: 60px;
        margin-left: 0
        
    }

    .menu {
        height: 90vh;
    }

    .menu_header {
        padding: 45px 50px 45px;
        text-align: center;
    }

    .menu h4 {
        font-size: 1em;
    }

    .menu h2 {
        font-size: 3em;

    }

    .menu_container {
        grid-template-columns: auto; /* Adjust the layout for mobile */
        gap: 0;
        overflow: hidden; /* Hide overflowing content */
    }



    .menu_items {
        display: none; /* Initially hide all items in the slideshow */
        width: 325px;
    }

    .menu_items.active {
        display: flex; /* Display only the active item */
    }

    .menu_items img {
        width: 285px;
        height: 200px;
    }

    .menu_text {
        right: 10px;
    }

    .pricenbtn {
        gap: 50px;
        position: absolute;
        bottom: 50px;
    }

    /* Additional styles for the slideshow */
    .slideshow-container {
        position: relative;
        max-width: 100%;
        margin: auto;
    }

    .prevBtn, .nextBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
    }

    .prevBtn {
        left: 10px;
    }

    .nextBtn {
        right: 10px;
    }

    .contact {
        height: 120vh;
    }
    
    .contacts {
        display: flex   
    
    }
    
    .contact-text {
        margin-left: 28px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .contact p {
        margin-bottom: 20px;
    }
    
    .leftdiv {
        position: relative;
        left: 160px;
        bottom: 280px;
        flex-direction: column;
        min-width: 340px;
        
    }
    
    .leftdiv h2 {
        font-family: "Rancho", sans-serif;
        font-size: 4em;
    
    }
    
    .leftdiv p {
        font-family: "Raleway";
        font-size: 1.5em;
    
    }
    
    .rightdiv h2 {
        font-family: "Rancho", sans-serif;
        font-size: 2.8em;
    
    }
    
    .rightdiv .contact-text h2 {
        font-family: "Raleway";
        font-size: 2em;
    
    }
    
    .rightdiv .contact-text p {
        font-family: "Rancho", sans-serif;
        font-size: 2em;
    
    }
    
    .rightdiv p {
        font-family: "Raleway";
        font-size: 1.5em;
    
    }
    
    
    .Socmed img {   
        width: 60px;
    
    }
    
    .rightdiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        right: 175px;
        top: 250px;
    
    
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
    }


    footer {
        align-items: center;
        flex-direction: column;
    }
}
